/* main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
} */

.footer {
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0%;
    overflow: auto;
    background-color: #e6f3e6
}